<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="home page.css" />
</head>
<body>
    
    <div class="caretaker-or-patient">
        <div class="overlap-group-wrapper">
            <div class="overlap-group">
                <div class="overlap">
                    <div class="div">
                        <a href="#" class="button">Patient</a>
                    </div>
                    <img class="image" src="https://c.animaapp.com/DzRt9dza/img/image-2@2x.png" />
                </div>
                <div class="overlap-2">
                    <img class="img" src="https://c.animaapp.com/DzRt9dza/img/image-1@2x.png" />
                    <div class="overlap-3">
                        <a href="#" class="button">Caretaker</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
