<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareHaven</title>
    <link rel="stylesheet" href="static/css/landingPage.css">
</head>

<body>
    <header>
        <div class="logo">
        <img src="https://i.postimg.cc/VksNwHdt/Care-Haven-Logo.png" id="logo">
        <h1></h1>
      </div> 
      <div class="nav-container">
          <nav>
              <ul>
                  <li><a href="home">Home</a></li>
                  <li><a href="about">About</a></li>
                  <li><a href="bothsignup" id="login">Register</a></li>
                  <li><a href="login" id="login">Log In</a></li>
              </ul>
          </nav>
      </div>
  </header>

    <main>
        <img src="https://i.postimg.cc/nzmmmwKz/47443454-21-F5-4-B90-B837-14-A1-EA8496-D5.png" id="homeimg">
        <button id="chatbot-trigger"> <a href="chat" id="chat" >Chat with <br> Carrie!</a></button>
    </main>
    
</body>

</html>